body{
    background-color: white;
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
h1 {
    color: black;
    margin-left: 20px;
  }
  a
{
color: black;
}
a:hover {
  color: lightblue;
}
nav{
  text-align: center
}